<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>utitool 2.0.0 copyright © 2026, Tony Smith. All rights reserved</string>
	<key>CFBundleIdentifier</key>
	<string>com.bps.utitool</string>
	<key>CFBundleName</key>
	<string>utitool</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleVersion</key>
	<string>61</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.4</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026, Tony Smith. All rights reserved</string>
</dict>
</plist>
